name: "Test"

# actions-up-ignore-file

on:
  workflow_dispatch:
  schedule:
    - cron: "18 18 * * 1,3,5"
  push:
    branches: [master]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: |
          env

      - name: "Test Local Action"
        id: test
        uses: ./
        with:
          latest: true
          labels: |
            org.opencontainers.image.licenses=
            org.opencontainers.image.authors=smashedr

      - name: "Verify Outputs"
        run: |
          echo -e "tags:\n${{ steps.test.outputs.tags }}"
          if [ -z '${{ steps.test.outputs.tags }}' ];then
            echo "No Output: tags"
            exit 1
          fi
          echo -e "labels:\n${{ steps.test.outputs.labels }}"
          if [ -z '${{ steps.test.outputs.labels }}' ];then
            echo "No Output: labels"
            exit 1
          fi
          echo -e "annotations:\n${{ steps.test.outputs.annotations }}"
          if [ -z '${{ steps.test.outputs.annotations }}' ];then
            echo "No Output: annotations"
            exit 1
          fi

      - name: "Schedule Failure Notification"
        if: ${{ always() && failure() && github.event_name == 'schedule' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
